<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ifgoiano.edu.dracarys.exemplolayouts">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExemploConstraintLayoutActivity"
            android:label="ConstraintLayout"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ExemploFrameLayoutActivity"
            android:label="FrameLayout"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ExemploGridLayoutActivity"
            android:label="GridLayout"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ExemploLinearLayoutActivity"
            android:label="LinearLayout"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ExemploLinearLayoutAninhadoActivity"
            android:label="LinearAninhadoLayout"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ExemploRelativeLayoutActivity"
            android:label="RelativeLayout"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ExemploTableLayoutActivity"
            android:label="TableLayout"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ExemploScrollViewActivity"
            android:label="ScrollView"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ExemploScrollViewInflateActivity"
            android:label="ScrollViewInflate"
            android:parentActivityName=".MainActivity" />

    </application>

</manifest>